body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background: #FFF6EA;
    overflow: hidden;
}

.flex{
    display:flex;
    justify-content: center;
    align-items:center;
}

.home-icon{
    width:85px;
    height:85px;
    margin-left:5%;
}

.title-container {
    width: 500px; 
    height: 70px; 
    margin-top: auto;
    margin-left: 15%;
    position: relative;
    top: 10%; 
    background: #FFF6EA; 
    border-radius: 70px;
    text-align: center;
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 600;
}

.home-button {
    left: 0px; 
    top: 0px; 
    height: 90px; 
    width: 90px;
    position: absolute;
}

.container{
    width:100%;
    height:100%;
    flex-direction: column;
    justify-content: flex-start;
}

.red-gradient {
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%)
}

.info-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 70%;
}

.info-text {
    color: black; 
    font-size: 30px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    padding: 20px;
    text-align: center;
}

.timeslot-scroll {
    overflow-y: scroll;
    width: 70%;
    height: 70%;
    left: 0;
    bottom: 0;
}

.table-header {
    width: 80%; 
    height: 80px; 
    flex-direction: row;
    justify-content: flex-start; 
    border-bottom: #FF3131;
    border-width: 3px;
}

.header-text {
    padding-left: 12%;
}

.table-row {
    width: 80%; 
    height: 80px; 
    border-radius: 40px;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
}

.row-data {
    width: 20%;
    padding: 10px;
}

.info-time {
    color: black; 
    width: 40%;
    font-size: 35px; 
    font-family: Inter; 
    font-weight: 700; 
    text-align: center;
}

.button-beige {
    width: 30%; 
    height: 60px; 
    background: #FFF6EA;
    border-radius: 70px;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    text-align: center;
}