* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF6EA;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    width: 100vw;
    height: 30vh;
}

img {
    width: 100vw;
    height: 30vh;
    opacity: 0.7;
}

.title {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: left;
    font-size: 100px;
    margin: 0;
    font-weight: 700;
}

.home-icon{
    position:absolute;
    top:25%;
    left:5%;
    width:80px;
    height:80px;
    opacity: 1;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 70vh;
    margin-top: 20px;
    /* background-color: aquamarine; */
}

#add-menu {
    width: 800px;
    height: 400px;
    left: 50px;
    background-color: #FFF6EA;
    border: 5px solid black;
    display: none;
    position: absolute;
    z-index: 1000;
}

.add-menu-title {
    font-size: 40px;
    font-weight: bold;
    width: 200px;
    margin: auto;
}
.date-go {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-go > :nth-child(2) {
    margin-right: 20px;
}

.date {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.date-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrows {
    cursor: pointer;
    user-select: none;
    font-size: 12px;
}


.date-field input[type="number"] {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.go {
    width: 50px;
    height: 25px;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-size: 15px;
    font-weight: bold;
    border-radius: 13px;
}

.close-btn {
    width: 100px;
    height: 50px;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.results {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 200px;
    /* background-color: #CB6CE3; */
    border: 2px solid black;
    overflow-y: scroll;
}
.event-type-rodeo {
    width: 80px;
    padding: 0px;
    margin: 12px;
    font-size: 30px;
    font-weight: bold;
}

.event-type-concert {
    width: 80px;
    padding: 0px;
    margin: 12px;
    font-size: 30px;
    font-weight: bold;
}

.event-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    margin-left: 12px;
    margin-bottom: 20px;
    /* background-color: #5CE1E6; */
    border: 2px solid black;
}

.event-card-btn {
    width: 50px;
    height: 25px;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-size: 15px;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.event-card-name, .event-card-time, .event-card-loc {
    font-size: 18px;
    font-weight: lighter;
}

span {
    font-weight: bold;
    font-size: 20px;
}
.event-card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.add-btn {
    margin-top: 20px;
    width:200px;
    height: 95px;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}


.side {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 5px solid black;
    padding: 20px;

}
.f {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.hidden-checkbox {
    display: none;
}

.filter ul {
    list-style-type: none;
}
.filter label {
    cursor: pointer;
    user-select: none;
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 40px;
    position: relative;
    padding-left: 25px;
}

.filter label::before {
    content: "\2610";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}

.hidden-checkbox:checked + label::before {
    content: "\2611"; 
}


.planner {
    /* margin-top: 50px; */
    overflow-y: auto;
    display: block;
}

.page {
    margin: auto;
    margin-top: 20px;
    margin-right: 30%;
    font-size: 20px;
    font-weight: bold;
}

.lt {
    opacity: 0.4;
}

.lt, .gt {
    cursor: pointer;
}

.times {
    display: inline;
}

table {
    display: table;
    width: 70vw;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);;
}

th:nth-child(1) {
    background-color: #FFF6EA;
}


td{
    border-right: 3px solid black;
    border-bottom: 1px dashed black;
    height: 50px;
    text-align: center;
}

td:nth-child(1) {
    border-bottom: none;
}

.rodeo {
    background-color: #CB6CE3;
}

.queue {
    background-color: #FF5757;
}

.concert {
    background-color: #5CE1E6;
}

tbody > tr > td:nth-child(1) {
    text-align: right;
    vertical-align: top;
    padding-right: 4px;
    font-weight: bold;
}

.schedule-to-map {
    position: absolute;
    width: 35px; 
    height: 35px;
    top: 365px;
}