* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF6EA;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 30vh;
}

.header-img {
    position:absolute;
    width: 100vw;
    height: 30vh;
    opacity: 0.55;
}

.heading-container {
    margin-top: 2%;
    position: relative;
}

.heading {
    font-size: 100px;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

.dissapear{
    display:block;
}

.sub-heading {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}

.reg-form {
    margin-top:3%;
    display: flex;
    width:50%;
    height: 70vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: 75px;
    font-weight: 700;
}

.reg-form label {
    display: block;
    font-weight: bold;
    margin-left: 2%;
    font-size: 25px;
}

#email, #password{
    width: 350px;
    height: 40px;
    border: 1px solid;
    border-radius: 20px;
    padding:5% 7%;
    font-size:20px;
}

.email,.pass{
    margin-top:5%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.forgot-div{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.forgot {
    display: block;
    border: none;
    background-color: #FFF6EA;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    color:black;
}

.forgot:hover{
    cursor:pointer;
}

.inner-flex {
    margin-top:5%;
    display: flex;
    width:75%;
    align-items: center;
    justify-content: center;
}

.cancel-btn{
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    color:black;
}

.submit-btn{
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    color:black;
}

.cancel-btn button{
    width:50%;
    height: 50px;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    color:black;
}
.submit-btn input[type="submit"] {
    width:50%;
    height: 50px;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    color:black;
}

.cancel-btn button:hover{
    cursor:pointer;
    opacity:0.8;
}

.submit-btn input[type="submit"]:hover {
    cursor:pointer;
    opacity:0.8;
}


@media screen and (max-width: 640px){
    .dissapear{
        display:none;
    }

    .heading{
        font-size:60px;
    }

    .sub-heading{
        font-size:30px;
    }
    
    .heading-container{
        width:100%;
    }

    .reg-form{
        width:100%;
    }

    .cancel-btn,.submit-btn{
        width:40%;
        margin-right:2%;
    }

    .cancel-btn button, .submit-btn input[type="submit"]{
        width:100%;
    }


}

@media screen and (max-width: 480px){
    .heading{
        font-size:45px;
    }

    .sub-heading{
        font-size:25px;
    }
}
