.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1440px;
    height: 1024px;
}

.map {
    position: absolute;
    width: 1018px;
    height: 1024px;
    top: 0;
    left: 422px;
    object-fit: cover;
}

.scrollbartopimage {
    position: absolute;
    width: 390px;
    height: 141px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.scrollbartoptext {
    position: absolute;
    width: 265px;
    top: 25px;
    left: 115px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.scrollbar {
    overflow-y: scroll;
    width: 410px;
    height: 100%;
}

ul,
#mapUL {
    list-style-type: none;
    font-size: 30px;
}

#mapUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

.caret::before {
    content: "\25B6";
    color: red;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}