.map-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .map-page .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .map-page .map {
    position: absolute;
    width: 1018px;
    height: 1024px;
    top: 0;
    left: 422px;
    object-fit: cover;
  }
  
  .map-page .overlap-group {
    position: absolute;
    width: 422px;
    height: 150px;
    top: 0;
    left: 0;
  }
  
  .map-page .stampedemap {
    position: absolute;
    width: 422px;
    height: 141px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .map-page .STAMPEDE-MAP {
    position: absolute;
    width: 265px;
    top: 23px;
    left: 135px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .map-page .polygon {
    position: absolute;
    width: 38px;
    height: 28px;
    top: 164px;
    left: 9px;
  }
  
  .map-page .img {
    position: absolute;
    width: 28px;
    height: 38px;
    top: 208px;
    left: 16px;
  }
  
  .map-page .text-wrapper {
    position: absolute;
    width: 306px;
    top: 152px;
    left: 66px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .map-page .text-wrapper-2 {
    position: absolute;
    width: 213px;
    top: 692px;
    left: 88px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }