body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background: #FFF6EA;
    overflow: hidden;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

.red-gradient {
    width: 100%;
    height: 15%;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-icon{
    width:50px;
    height:50px;
    margin-left:3%;
}

.scrollbartoptext {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-top:1%;
    margin-left:20%;
}

.scrollbar {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.show-button, .hide-button {
  background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
  border: none;
  border-radius: 25px;
  color: black;
  font-weight: 600;
  width: 45%;
  padding: 10px 5px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 10px 5px;
  cursor: pointer;
}

.show-button:hover,.hide-button:hover{
    cursor:pointer;
    opacity:0.8;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

#mapUL {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 35px;
}

.category {
    cursor: pointer;
    user-select: none;
}

.category::before {
    content: "\25B6";
    color: red;
    display: inline-block;
    margin-right: 6px;
}

.category-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.checkbox {
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.unchecked {
    cursor: pointer;
    user-select: none;
}

.unchecked::before {
    color: red;
    content: "\2610";
}

.checked::before {
    color: red;
    content: "\2611";
}

.button-div {
    position: fixed;
    height: 15%;
    width: 8%;
    padding: 2px;
    text-align: center;
    z-index: 10;
}

.toggle {
    font-size: 12px;
    height: 25%;
    width: 100%;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
    font-weight: 700;
}

.toggle:hover,.zoom:hover{
    cursor:pointer;
    opacity:0.8;
}

.zoom {
    font-size: 35px;
    height: 30%;
    width: 40%;
    background: linear-gradient(90deg, #FF3131 0%, #FF914D 100%);
}

.map-div {
    width: 85%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.map-image {
    height: 3840px;
    width: 2160px;
    background: url('../images/map.png');
    background-size: contain;
    position: relative;
}

.attraction-highlight{
    border-radius: 10px;
    border-width: 8px;
    border-style: solid;
    border-color: #FF914D;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}

.attraction-highlight-queue{
    border-radius: 10px;
    border-width: 8px;
    border-style: solid;
    border-color: #FF914D;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}

.attraction-highlight-queue:hover{
    background-color: #FF914D;
    border-color: #FF3131;
    opacity: .5;
    cursor:pointer;
}

.attraction-display-name-queue{
    background-color: white;
    padding: 10px 10px;
    height:30px;
    text-align: center;
    border:8px solid #FF914D;
    position:absolute;
    top:-62px;
    left:0;
    right:0;
    font-weight: 700;
    font-size:18px;
}

.attraction-display-name{
    background-color: white;
    padding: 10px 10px;
    height:30px;
    text-align: center;
    border:8px solid #FF914D;
    position:absolute;
    top:-62px;
    left:0;
    right:0;
    font-weight: 700;
    font-size:18px;
}

.attraction-highlight:hover{
    background-color: #FF914D;
    border-color: #FF3131;
    opacity: .5;
    cursor:pointer;
}

.monster-energy {
    top: 31%; 
    left: 52%;
    height: 6%;
    width: 9%;
    display: none;
}

.zipper {
    top: 66%; 
    left: 12%;
    height: 6%;
    width: 11%;
    display: none;
}

.show-home {
    top: 61%; 
    left: 24%;
    height: 7%;
    width: 12%;
    display: none;
}

.nashville-north {
    top: 69%; 
    left: 34%;
    height: 8%;
    width: 15%;
    display: none;
}

#agriculture{
    top: 54%; 
    left: 51%;
    height: 8%;
    width: 23%;
    display: none;
}

#coca{
    top: 73%; 
    left: 14%;
    height: 7%;
    width: 10%;
    display: none;
}

#infield{
    top: 81.5%; 
    left: 56%;
    height: 11%;
    width: 10%;
    display: none;
}

#northern{
    top: 55%; 
    left: 76%;
    height: 8%;
    width: 11%;
    display: none;
}

#skyride{
    top: 42%; 
    left: 16%;
    height: 8%;
    width: 21%;
    display: none;
}

#saddledome{
    top: 34%; 
    left: 62%;
    height: 15%;
    width: 35%;
    display: none;
}
